{
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "node",
    "mocha",
    "babel"
  ],
  "extends": ["eslint:recommended", "airbnb"],
  "parserOptions": { "ecmaVersion": 8 },
  "parser": "babel-eslint",
  "rules": {
    "class-methods-use-this": "off",
    "func-names": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/order": ["error"],
    "jsx-a11y/href-no-hash": "off",
    "mocha/no-exclusive-tests": "error",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "strict": 0,
    "valid-jsdoc": ["error", {
      "requireReturn": true,
      "requireReturnType": true,
      "requireParamDescription": true,
      "requireReturnDescription": false,
      "prefer": {
        "arg": "param",
        "argument": "param",
        "class": "constructor",
        "return": "returns",
        "virtual": "abstract"
      }
    }],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true
      }
    }]
  }
}
