body {
    padding: 20px;
}
.product-title {
    text-align: center;
    font-size: 2em;
    color: blue;
}

.product-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description{
    font-size: 1.5em;
}